<div class="row">
  <div class="col-9">
    <h4 style="font-weight: 300">My Inventory</h4>
  </div>
  <div class="col-1">
    <div class="right-menu1">
        <i class="material-icons" style="margin-right:10px;font-size: 200%">search</i>
        <i class="material-icons" style="color:blueviolet;font-size: 200%">adjust</i>
    </div>
      
    </div>
  <div class="col-2 text-center">
      <span class="right-menu shadow text-center"> <i class="material-icons">perm_identity</i>Welcome: Gagan</span>
    </div>
</div>