<table class="table" >
    <thead>
      <th style="border:none !important">Item Name</th>
      <th style="border:none !important">Quantity</th>
      <th style="border:none !important">Price</th>
      <th style="border:none !important"></th>
    </thead>
    <ng-container *ngFor="let item of itemsArray">
      <tr class="">
        <td>{{item.itemName}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.pricePerUnit}}</td>
        <td>
          <button class="btn btn-sm btn-info" (click)="customerService.populateItemForm(item)">Edit</button>&nbsp;
          <button class="btn btn-sm btn-danger" (click)="onDelete(item.$itemkey)">Delete</button>
        </td>
      </tr>
    </ng-container>
  </table>
  <div class="alert alert-info fade-in" *ngIf="showSuccessMessage">
      Deleted Successfully.
    </div>